<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="profile-nav">
        <a href="/profile/details">Personal Details</a>
        <a href="/profile/address">Address</a>
        <a href="/profile/email_phone">Email & Phone</a>
        <a href="/profile/emergency">Emergency Contact</a>
        <a href="/profile/passport">Passport & Visa</a>
    </div>

    <div class="profile-content">
        {% block profile_content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>