{# templates/footer.html #}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/footer_style.css') }}"
/>

<footer class="custom-footer">
  <div class="footer-content container">
    <div class="footer-left">
      <span style="white-space: nowrap;">
        <a href="/copyright">Copyright</a> |
        <a href="/contact">Contact Us</a><br/>
        </span>
      <p class="footer-line">© 1968 – 2025. All Rights Reserved.</p>
    </div>

    <div class="footer-center">
      <img
        src="{{ url_for('static', filename='images/usp_logo.svg') }}"
        alt="USP Logo"
        class="footer-logo"
      />
    </div>

    <div class="footer-right">
      <p>The University of the South Pacific</p>
      <p>Laucala Campus, Suva, Fiji</p>
      <p>Tel: +679 323 1000</p>
    </div>
  </div>
</footer>
